
@import url("headFoot.css");
@import url("style.css");


#aboutUs {
  background-color: var(--yellow-color);
}

.display-4{
  font-size: 50px;
/*  font-weight: 450;*/
}

.p-5 p{
  text-align: justify;
}

#bandMembers{
  padding-top: 35px;
  margin: 0px 20px 0px 20px;
}

.card{
  border-color: #E1AD01;
  /* border: 5px; */
  margin: 10px;
  padding: 15px;
}


