@import url("headFoot.css");
@import url("style.css");

#discograph{
    text-align: center;
}
.discograph-item{
    margin-top: 10px;
    margin-bottom: 10px;
}
.discograph-img{
  display: block;
  width: 100%;
  height: 225px;
}

#discograph-page{
  background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
  text-align: left;
  padding: 7% 15%;
}
.big-heading{
  font-weight: bold;
  color: yellow;
}

#discograph-page p {
  color: yellow;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #022434;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
}

.discograph-item:hover .overlay{
  opacity: 1;
}

.overlay-content{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.dg-img-container{
  text-align: center;
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 

  #discograph-page{
    text-align: center;
    }
    .dg-img{
      margin-top: 20px;
    }
 }

@media (max-width: 575.98px) {
  #discograph-page{
    text-align: center;
    }
    .dg-img{
      margin-top: 20px;
    }
 }